<%# model: article corresponds with the @article defined on the new and edit pages that call
a render to this form with that instance of Article. Setting this form up with a reference
rather than an actual @article instance allows multiple instances to be passed to this form
e.g. New and Edit. The form automatically updates the fields with the data held in the 
instance's fields i.e., an instance passed via edit.html is populated with existing title and body, 
where as an instance passed from new.html is a blank form b/c the instance variable is empty %>

<%= form_with model: article do |form|%>

<div class='form-group mb-3'>
  <%= form.label :title %><br>
  <%= form.text_field :title, class: 'form-control form-control-lg' %>
  <% article.errors.full_messages_for(:title).each do |message| %>

    <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
    <% end %>
</div>

<div class='form-group mb-3'>
  <%= form.label :body %><br>
  <%= form.text_area :body, class: 'form-control form-control-lg' %>
  <% article.errors.full_messages_for(:body).each do |message| %>

    <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
    <% end %>
</div>

<div class='form-group mt-3'>
<%= form.submit "Post", class: 'btn btn-primary' %>
<%= link_to "Home", articles_path, class: 'btn btn-outline-primary' %>
</div>

<% end %>

<%# This file is a partial used by Articles#new and Articles#edit since they both use the same form%>
<%# note there is no use of an instance variable because it is a shared resource - see each 
form (new and edit) html.erb for the declaration of article as the appropriate instance variable  %>
<%# form_with helper instantiates Rails' form builder %>
<%# validation errors will show if validations defined in Article Class not met %>