<div class='col-lg-6 mx-auto'>
    <%= link_to 'Home', articles_path , class: 'btn btn-primary mb-3'%>

    <div class="card shadow">
      <div class="card-header">
        <h1 class="card-title"><%= @article.title %></h1>
      </div>
      <div class="card-body">
        <%= @article.body %>
        <div class='form-group mt-3'>
          <%= link_to 'Edit Post', edit_article_path(@article), class: 'btn btn-outline-primary mt-3' %>
          <%= link_to 'Delete Post', article_path(@article), class: 'btn btn-outline-primary mt-3',
                data: 
              {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
        </div>
    </div>
    
    </div>
</div>

    <%# This renders the _comment.html.erb partial as is %>
    <div class="col-lg-4 mx-auto mb-2 mt-5">
      <h3 >Add a comment:</h3>
      <%= render 'comments/form' %>
    </div>

    <%# This render passes each comment into the _comment.html.erb partial %>
    <h3 class="col-lg-4 mx-auto mb-2 mt-5">Comments</h3>
    <%= render @article.comments %>

    
